<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>NextGenDev</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <h1>NextGenDev</h1>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#">Case Studies</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Hire</a></li>
            </ul>
            <button class = "entrar-em-contato"><a href="#">Contract us</a></button>
        </nav>
    </header>

    <main>
        <section id="about">
            <div class="about-wrapper">
                <div class="container">
                    <div class="title">
                        <h2>Great Product is</h2>
                        <h1>build by great teams</h1>
                    </div>
                    <div class="descricao">
                        <h3>We help build and manage a team of world-class developers to bring your vision to life</h3>
                    </div>
                    <div>
                        <button>Lets get started</button>
                    </div>
                </div>
                <div class="img">
                    <img src="/public/images/empresa.png" alt="">
                </div>
            </div>
        </section>

        <section id="services">
            <div class="title-service">
                <h1>Services we offer</h1>
            </div>
        </section>
    </main>
</body>
</html>